{% extends 'diagnoses/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class='container my-4' style="max-width: 544px;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="mb-4" style="font-size:32px; font-weight:600">Join Today</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success mt-4" type="submit" style="width: -webkit-fill-available;">Sign Up</button>
            </div>
        </form>
        <div class=" pt-3" style="text-align: center;">
            <small class="text-muted">
                Already have an account <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock %}