{% extends 'diagnoses/layout.html' %}
{% block content %}
<main class="">
    <div class="container py-4">
        {% if result %}
            <h1>Classe {{result.classe.number }}: {{result.classe.name}}</h1>
            {% for diagnosis in diagnoses_list %}
            <div class="d-flex my-3">
                <div class="" style="font-weight: 500;">
                    <span>{{forloop.counter}}.</span>
                </div>
                <article class="mx-2">
                    <div>
                        <a class="fw-500" href="{% url 'diagnosis-detail' diagnosis.slug %}" style="text-decoration: none; color: rgb(36, 41, 47); font-weight: 500; font-size: 18px; line-height: 1.5;">
                            {{ diagnosis.diagnosis }}
                        </a>
                    </div>
                    <div class="" style="font-size: 12px; color: rgb(110, 119, 129)">
                        <span class="mr-1">Domínio {{diagnosis.domain.number}}: {{diagnosis.domain.name}}</span> - <span class="mx-1">Classe {{diagnosis.classe.number}}: {{diagnosis.classe}} </span> - <span class="ml-1">Código de diagnóstico: 00002</span>
                    </div>
                </article>
            </div> 
            {% endfor%}

        {% else %}
        <h1>Sem resultados da pesquisa</h1>
        {% endif %}
    </div>
</main>
{% endblock %}