{% extends 'diagnoses/layout.html'%}
{% block content %}
    {% if search %}
        <div class="container">
            <h1>Resultados da busca por: {{search}}</h1>
            {%for diagnosis in diagnoses %}
            <div class="d-flex my-3">
                <div class="" style="font-weight: 500;">
                    <span>{{forloop.counter}}.</span>
                </div>
                <article class="mx-2">
                    <div>
                        <a class="fw-500" href="{% url 'diagnosis-detail' diagnosis.slug %}" style="text-decoration: none; color: rgb(36, 41, 47); font-weight: 500; font-size: 18px; line-height: 1.5;">
                            {{ diagnosis.title }}
                        </a>
                    </div>
                    <div class="" style="font-size: 12px; color: rgb(110, 119, 129)">
                        <span class="mr-1">Domínio: Nutrição</span> - <span class="mx-1">Classe 1: Ingestão</span> - <span class="ml-1">Código de diagnóstico: 00002</span>
                    </div>
                </article>
            </div> 
        {% endfor %}
        </div>
    {% else %}
    <center>
        <h1>Sem resultados da busca</h1>
    </center>
    {% endif%}
{% endblock content %}